body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(238, 242, 246);
}
h1{
    text-align: center;
    color:black;

}
form{
    width: 600px;
    margin: auto;
    background-color:beige;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(35, 37, 39);
    padding: 20px;
}
fieldset{
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;

}
legend{
    font-weight: bold;
    text-align: left;
    color: black;
}
label{
    display: block;
    margin-top: 10px;
    color: black;
}
input,textarea{
    width: calc(100% - 1px);
    padding:8px;
    margin-top: 4px;
    border: 1px solid burlywood;
    border-radius: 4px;
    block-size: border-box;

}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color:rgb(213, 197, 172);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover{
    background-color: rgb(81, 98, 92);

}